* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* html,
body {
  background-color: var(--bs-gray-300);
} */

main {
  min-height: 80vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--bs-orange);
  color: var(--bs-white);
  border-top: 1px solid var(--bs-white);
}

h3 {
  padding: 0.5rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}
.carousel a {
  margin: 0 auto;
}

.form-control,
.btn {
  line-height: 0.75;
}
.form-label {
  margin-bottom: 0;
}

.alert {
  padding: 0.25rem 1rem;
  text-align: center;
}
