* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

main {
  min-height: 80vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--bs-orange);
  color: var(--bs-white);
  border-top: 1px solid var(--bs-white);
}

.rating span {
  margin: 0.1rem;
}
